@model IEnumerable<CNPM_DOAN.Models.TODO>

@{
    ViewBag.Title = "showToDo";
}
<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="~/MyCss/todo.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
<body>
    <link rel="stylesheet" href="~/MyCss/todo.css">
    <script src="~/MyJs/todo.js"></script>
    <div class="container">
        <div class="modal fade" id="editModal" role="dialog" data-url="@Url.Action("editToDo","TODOes")">
            <div class="modal-dialog" role="document">
                <div class="modal-content"></div>
            </div>
        </div>
        <div class="infoTodo">
            @foreach (var item in Model)
            {
                <div class="infoTodoItem">
                    <div style="display: flex;">
                        <button type="button" class="buttonSubmitTodo" onclick="location.href='@Url.Action("CompleteToDo", "TODOes", new { idTodo = item.IDToDo, id = Session["IDUSER"] })'"><i class="fa-solid fa-check"></i></button>
                        <p class="details-link" id="open-dialog" data-id="@item.IDToDo">@item.NDToDo</p>
                    </div>

                    @if (item.TrangThai == "Qúa hạn")
                    {
                        <button onclick="location.href='@Url.Action("giaHanToDo", "TODOes", new { idTodo = item.IDToDo, id = Session["IDUSER"] })'">Gia hạn to-do</button>
                        <p style="font-size: 12px; width: fit-content; color:red">Qúa hạn</p>
                    }
                    else
                    {<p style="font-size: 12px; width: fit-content;">Còn hạn</p>}
                    <button class="deleteTrash" style="z-index:0" onclick="location.href='@Url.Action("DeleteToDo", "TODOes", new { idTodo = item.IDToDo, id = Session["IDUSER"] })'"><i class="fa-solid fa-trash"></i></button>
                    <button class="editTodo" style="z-index:0" id="@item.IDToDo" onclick="edit(this.id)"><i class="fa-solid fa-pen"></i></button>
                </div>

            }

        </div>
        <div class="inputMission" style="z-index:1">
            <form action="/TODOes/TaoToDo?id=@Session["IDUSER"]" method="post">

                <input type="text" placeholder="Hãy nhập nhiệm vụ của bạn vào đây" class="input" name="ndtodo" required>
                <button type="submit" class="btnSend"><i class="fa-regular fa-paper-plane"></i>Gửi</button>
            </form>
        </div>
    </div>
</body>
@section scripts{
    <script type="text/javascript">
function edit(id) {
$.get("@Url.Action("editTODO", "TODOes")/" + id,
function (data) { $('#editModal').html(data); })
$('#editModal').modal('show');
}
$('#editModal').on('hidden.bs.modal', function (e) {
$('.modal-body').html("")
})
    </script>
}
