
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>...</title>
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="~/MyCss/mainpage.css">
    <link rel="stylesheet" href="~/MyCss/login.css">
    <link rel="stylesheet" href="~/MyCss/register.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="~/MyJs/login.js"></script>
    <script src="~/MyJs/register.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
</head>
<body>
    <div class="overlay" id="overlayLo" onclick="showDangNhap()"></div>
    <div class="overlayRe" id="overlayRe" onclick="showDangKy()"></div>
    <div class="top-nav">
        <a href=""><img src="~/MyImage/logo-removebg-preview.png" class="logo"></a>
        <ul id="mainmenu">
            <li><a href="@Url.Action("gioithieu","Home")">GIỚI THIỆU</a></li>
            <li><a href="@Url.Action("lienhe","Home")">LIÊN HỆ</a></li>
            @if (Session["TENTAIKHOAN"] == null)
            {
                <li style="margin-left:300px" onclick="showDangNhap()">Đăng nhập</li>
                <li onclick="showDangKy()">Đăng ký</li>
            }
            else
            {
                <li style="position:absolute; right:0px; top:40px;">
                    <a href="@Url.Action("Informs", "NGUOIDUNGs", new { iduser = Session["IDUSER"] })" class="nothover">
                        @if (Session["AVATAR"] != null)
                        {
                            <img src="@Url.Action("GetImage", "NGUOIDUNGs", new { id = Session["IDUSER"] })" style="width:50px;height:50px; position:absolute;right:10px; bottom:10px;border-radius:50%" />
                        }
                        else
                        {
                            <img src="~/MyImage/logo-removebg-preview.png" style="width:50px;height:50px; position:absolute;right:10px; bottom:10px;border-radius:50%" />
                        }
                    </a>
                </li>
            }
        </ul>
    </div>
    @if (Session["TENTAIKHOAN"] != null)
    {
        <div class="menu" style="z-index:2">
            @if (Session["IDUSER"].ToString().Contains("PH"))
            {
                <div class="menuitemPH uno" style="overflow:hidden;">
                    <a href="@Url.Action("showTKB","THOIKHOABIEUx", new { iduser = Session["IDUSER"]})">
                        <i class="fa-solid fa-calendar" style="margin-left: 5px; color: #FFFAFA;"></i>
                        <span>Thời khóa biểu</span>
                    </a>
                </div>
                <div class="menuitemPH dos" style="overflow:hidden;">
                    <a href="@Url.Action("ShowToDo","TODOes", new { iduser = Session["IDUSER"]})">
                        <i class="fa-sharp fa-solid fa-clipboard-check" style="margin-left: 5px; color: #FFFAFA;"></i>
                        <span>To-do list</span>
                    </a>
                </div>
                <div class="menuitemPH tres" style="overflow:hidden;">
                    <a href="@Url.Action("ShowMucTieu","MUCTIEUx", new { idus = Session["IDUSER"]})">
                        <i class="fa-solid fa-flag" style="margin-left: 5px; color: #FFFAFA;"></i>
                        <span>Mục tiêu</span>
                    </a>
                </div>
                <div class="menuitemPH cuatro" style="overflow:hidden;">
                    <a href="@Url.Action("showNguoiDung", "NGUOIDUNGs", new { iduser = Session["IDUSER"] })">
                        <i class="fa-solid fa-user-group" style="color: #FFFAFA;"></i>
                        <span>Nhóm học tập</span>
                    </a>
                </div>
                <div class="menuitemPH cinco" style="overflow:hidden;">
                    <a href="@Url.Action("showBaiTap", "BAITAPs", new { iduser = Session["IDUSER"] })">
                        <i class="fa-solid fa-book-open" style="color: #FFFAFA;"></i>
                        <span>Bài tập</span>
                    </a>
                </div>
            }
            else
            {
                <div class="menuitemPH uno" style="overflow:hidden;">
                    <a href="@Url.Action("showTKB","THOIKHOABIEUx", new { iduser = Session["IDUSER"]})">
                        <i class="fa-solid fa-calendar" style="margin-left: 5px; color: #FFFAFA;"></i>
                        <span>Thời khóa biểu</span>
                    </a>
                </div>
                <div class="menuitemPH dos" style="overflow:hidden;">
                    <a href="@Url.Action("ShowToDo","TODOes", new { iduser = Session["IDUSER"]})">
                        <i class="fa-sharp fa-solid fa-clipboard-check" style="margin-left: 5px; color: #FFFAFA;"></i>
                        <span>To-do list</span>
                    </a>
                </div>
                <div class="menuitemPH tres" style="overflow:hidden;">
                    <a href="@Url.Action("ShowMucTieu","MUCTIEUx", new { idus = Session["IDUSER"]})">
                        <i class="fa-solid fa-flag" style="margin-left: 5px; color: #FFFAFA;"></i>
                        <span>Mục tiêu</span>
                    </a>
                </div>
                <div class="menuitemPH cuatro" style="overflow:hidden;">
                    <a href="">
                        <i class="fa-solid fa-user-group" style="color: #FFFAFA;"></i>
                        <span>Nhóm học tập</span>
                    </a>
                </div>
                <div class="menuitemPH cinco" style="overflow:hidden;">
                    <a href="@Url.Action("showBaiTap", "BAITAPs", new { iduser = Session["IDUSER"] })">
                        <i class="fa-solid fa-book-open" style="color: #FFFAFA;"></i>
                        <span>Bài tập</span>
                    </a>
                </div>
            }
        </div>
    }


    @{Html.RenderAction("LoginUser", "NGUOIDUNGs");}
    @{Html.RenderAction("RegisterUser", "NGUOIDUNGs");}
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>