@model IEnumerable<CNPM_DOAN.Models.MUCTIEU>

@{
    ViewBag.Title = "showMucTieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <link rel="stylesheet" href="~/MyCss/muctieu.css">
    <script src="~/MyJs/todo.js"></script>
    <div class="container">
        <div class="modal fade" id="editModal" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content"></div>
            </div>
        </div>
        <div class="infoTodo">
            @foreach (var item in Model)
            {
                <div class="infoTodoItem">
                    <div style="display: flex;">
                        <p class="details-link" id="open-dialog" data-id="@item.IDMucTieu">@item.TenMucTieu</p>
                        <button class="editTodo" style="z-index:0" id="@item.IDMucTieu" onclick="edit(this.id)"><i class="fa-solid fa-pen"></i></button>
                        <button class="deleteTrash" style="z-index:0" onclick="location.href='@Url.Action("DeleteMucTieu", "MUCTIEUx", new { idMT=item.IDMucTieu, id = Session["IDUSER"] })'"><i class="fa-solid fa-trash"></i></button>
                    </div>
                </div>

            }

        </div>
        <div class="inputMission" style="z-index:1">
            <form action="/MUCTIEUx/ThemMucTieu?id=@Session["IDUSER"]" method="post">

                <input type="text" placeholder="Hãy viết mục tiêu của bạn vào đây" class="input" name="ndmuctieu">
                <button type="submit" class="btnSend"><i class="fa-regular fa-paper-plane"></i>Gửi</button>
            </form>
        </div>
    </div>
</body>
@section scripts{
    <script type="text/javascript">
function edit(id) {
$.get("@Url.Action("editMucTieu", "MUCTIEUx")/" + id,
function (data) { $('#editModal').html(data); })
$('#editModal').modal('show');
}
$('#editModal').on('hidden.bs.modal', function (e) {
$('.modal-body').html("")
})
    </script>
}